<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysCategory">
  <resultMap id="BaseResultMap" type="com.xbz.vpase.persistent.entity.SysCategory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="parent" jdbcType="VARCHAR" property="parent" />
    <result column="enable" jdbcType="BIT" property="enable" />

  </resultMap>
  <sql id="Base_Column_List">
    id, name, code, parent,enable
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xbz.vpase.persistent.entity.SysCategory">
    insert into sys_category (id, name, code, 
      parent,enable)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{parent,jdbcType=VARCHAR},#{enable,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.xbz.vpase.persistent.entity.SysCategory">
    insert into sys_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="parent != null">
        parent,
      </if>
      <if test="enable != null">
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="parent != null">
        #{parent,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xbz.vpase.persistent.entity.SysCategory">
    update sys_category
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="parent != null">
        parent = #{parent,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xbz.vpase.persistent.entity.SysCategory">
    update sys_category
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      parent = #{parent,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <select id="selectSysCategoryList" parameterType="com.xbz.vpase.persistent.entity.SysCategory" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from sys_category
    <where>
      <if test="id!=null">
        and id = #{id}
      </if>
      <if test="name!=null">
        and like '%${name}%'
      </if>
      <if test="code!=null">

      </if>
      <if test="parent!=null">
        and patent = #{parent}
      </if>
      <if test="enable!=null">
        and enable = #{enable}
      </if>
    </where>
  </select>
</mapper>