<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xbz.vpase.persistent.mapper.XbzAddressMapper">
  <resultMap id="BaseResultMap" type="com.xbz.vpase.persistent.entity.XbzAddress">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="vip_id" jdbcType="INTEGER" property="vipId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <sql id="Base_Column_List">
    id, vip_id, city_id, address
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xbz_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xbz_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xbz.vpase.persistent.entity.XbzAddress">
    insert into xbz_address (id, vip_id, city_id, 
      address)
    values (#{id,jdbcType=INTEGER}, #{vipId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xbz.vpase.persistent.entity.XbzAddress">
    insert into xbz_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="vipId != null">
        vip_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="vipId != null">
        #{vipId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xbz.vpase.persistent.entity.XbzAddress">
    update xbz_address
    <set>
      <if test="vipId != null">
        vip_id = #{vipId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xbz.vpase.persistent.entity.XbzAddress">
    update xbz_address
    set vip_id = #{vipId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>