<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xbz.vpase.persistent.mapper.XbzShoppingCartMapper">
  <resultMap id="BaseResultMap" type="com.xbz.vpase.persistent.entity.XbzShoppingCart">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="store_count" jdbcType="SMALLINT" property="storeCount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, store_id, store_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xbz_shopping_cart
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xbz_shopping_cart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xbz.vpase.persistent.entity.XbzShoppingCart">
    insert into xbz_shopping_cart (id, store_id, store_count
      )
    values (#{id,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{storeCount,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xbz.vpase.persistent.entity.XbzShoppingCart">
    insert into xbz_shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="storeCount != null">
        store_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeCount != null">
        #{storeCount,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xbz.vpase.persistent.entity.XbzShoppingCart">
    update xbz_shopping_cart
    <set>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeCount != null">
        store_count = #{storeCount,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xbz.vpase.persistent.entity.XbzShoppingCart">
    update xbz_shopping_cart
    set store_id = #{storeId,jdbcType=INTEGER},
      store_count = #{storeCount,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>